{% extends 'base.html.twig' %}

{% block title %}Hablemos de música: Home{% endblock %}

{% block body %}
<div>
	<div>
		<h1>Hablemos de música!!!</h1>	
	</div>
	<div>
		<p>Agradecemos los muchos espacios que nos da la web, agradecemos que permita que nos expresemos, agradecemos que todos seamos diferentes y que hay temas para todos los gustos. Pero hay algo que le gusta a la mayoria de personas, claro que no de la misma forma, ni mucho menos el mismo estilo, aun asi mueve corazones y sentimientos. Este espacio busca que escribas y te expreses por lo que a ti te hace sentir la musica. Asi que, comparte con nosotros, nos complace leer tus lineas para algo que nos une..</p>
		<p>Te invito a escribir....</p>
	</div>

</div>
{% endblock %}
